<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addAssetModalLabel">Add Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          
            <div class="form-group text-left">
              <label for="chartOfAccountsId">chartOfAccountsId</label>

              
                <input formControlName="chartOfAccountsId" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="owner">owner</label>

              
                  <textarea formControlName="owner" class="form-control" rows="3"></textarea>

              

            </div>
          
            <div class="form-group text-left">
              <label for="endorsements">endorsements</label>

              
                  <textarea formControlName="endorsements" class="form-control" rows="3"></textarea>

              

            </div>
          
            <div class="form-group text-left">
              <label for="loanOffers">loanOffers</label>

              
                  <textarea formControlName="loanOffers" class="form-control" rows="3"></textarea>

              

            </div>
          
            <div class="form-group text-left">
              <label for="assetAccounts">assetAccounts</label>

              
                <input formControlName="assetAccounts" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="liabilityAccounts">liabilityAccounts</label>

              
                <input formControlName="liabilityAccounts" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="equityAccounts">equityAccounts</label>

              
                <input formControlName="equityAccounts" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="revenueAccounts">revenueAccounts</label>

              
                <input formControlName="revenueAccounts" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="expenseAccounts">expenseAccounts</label>

              
                <input formControlName="expenseAccounts" type="text" class="form-control">
              

            </div>
          


        </div>
        <div class="modal-footer">
          <button (click)="addAsset(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>




<div class="modal fade" id="updateAssetModal" tabindex="-1" role="dialog" aria-labelledby="updateAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateAssetModalLabel">Update Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          
            <div class="form-group text-left">
              <label for="chartOfAccountsId">chartOfAccountsId</label>

              
                <input [ngModel]="chartOfAccountsId"formControlName="chartOfAccountsId" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="owner">owner</label>

              
                  <textarea [ngModel]="owner" formControlName="owner" class="form-control" rows="3"></textarea>
              

            </div>
          
            <div class="form-group text-left">
              <label for="endorsements">endorsements</label>

              
                  <textarea [ngModel]="endorsements" formControlName="endorsements" class="form-control" rows="3"></textarea>
              

            </div>
          
            <div class="form-group text-left">
              <label for="loanOffers">loanOffers</label>

              
                  <textarea [ngModel]="loanOffers" formControlName="loanOffers" class="form-control" rows="3"></textarea>
              

            </div>
          
            <div class="form-group text-left">
              <label for="assetAccounts">assetAccounts</label>

              
                <input [ngModel]="assetAccounts"formControlName="assetAccounts" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="liabilityAccounts">liabilityAccounts</label>

              
                <input [ngModel]="liabilityAccounts"formControlName="liabilityAccounts" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="equityAccounts">equityAccounts</label>

              
                <input [ngModel]="equityAccounts"formControlName="equityAccounts" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="revenueAccounts">revenueAccounts</label>

              
                <input [ngModel]="revenueAccounts"formControlName="revenueAccounts" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="expenseAccounts">expenseAccounts</label>

              
                <input [ngModel]="expenseAccounts"formControlName="expenseAccounts" type="text" class="form-control">
              

            </div>
          


        </div>
        <div class="modal-footer">
          <button (click)="updateAsset(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="deleteAssetModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteAssetModalLabel">Delete Asset</h4>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="deleteAsset()">
        <div class="modal-body">
          Are you sure you want to delete this asset?
        </div>
        <div class="modal-footer">
          <button (click)="deleteAsset()" type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </form>
    </div>
  </div>
</div>











<div class="container">
  <h1 id='assetName'>ChartOfAccounts</h1>
  <div class="row">
    <div class="col-md-12 text-right">
      <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAssetModal">Add Asset</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-striped">
        <thead class="thead">
          <tr class="thead-cols">
            
                <th class="info">chartOfAccountsId</th>
            
                <th class="info">owner</th>
            
                <th class="info">endorsements</th>
            
                <th class="info">loanOffers</th>
            
                <th class="info">assetAccounts</th>
            
                <th class="info">liabilityAccounts</th>
            
                <th class="info">equityAccounts</th>
            
                <th class="info">revenueAccounts</th>
            
                <th class="info">expenseAccounts</th>
            
              <th class="info">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of allAssets">

            
                <td>{{asset.chartOfAccountsId}}</td>
            
                <td>{{asset.owner}}</td>
            
                <td>{{asset.endorsements}}</td>
            
                <td>{{asset.loanOffers}}</td>
            
                <td>{{asset.assetAccounts}}</td>
            
                <td>{{asset.liabilityAccounts}}</td>
            
                <td>{{asset.equityAccounts}}</td>
            
                <td>{{asset.revenueAccounts}}</td>
            
                <td>{{asset.expenseAccounts}}</td>
            
            <td>
              <button (click)="getForm(asset.chartOfAccountsId);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updateAssetModal">Update Asset</button>

              <button (click)="setId(asset.chartOfAccountsId);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAssetModal">Delete Asset</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
